@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  display: flex;
  margin: 0;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #020721;

}

.container {
  width: 700px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.start--quizz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start--quizz>h1 {
  margin: 0;
  padding: 0;
  color: #4D5B9E;
}

.start--quizz>button {
  width: 193px;
  height: 52px;
  margin-top: 10px;
  border-radius: 15px;
  background: #4D5B9E;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.quizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  width: 650px;
  height: 550px;
  
  /* border: 3px solid black; */

}
.button{
  width: 120px;
  height: 35px;
  border-radius: 15px;
  border-style: none;
  background: #4D5B9E;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.questions > h3{
 font-size: 16px;
 color: #293264;


}
.answers--container{
  display: flex;
  flex-direction: row;
}
.answers{
  border: 2px solid blue;
  border-radius: 8px;
  margin-right: 10px;
  border: 2px solid #4D5B9E;
  padding: 1px 10px ;
  cursor: pointer;
  color: #293264;
}
hr{
  opacity: 0.4;
}
.button--container{
  display: flex;
  align-items: center;
}
.score{
  margin-right: 10px;
 color:  #293264;
}
input{
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}